






/*-------------SMALL SCREEN HEIGHT-----------------------600 TO 1099*/






@media screen and (min-width: 1131px) and (max-width: 1180px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 50px; 
/*width: 1400px;*/
/*610*/
}
}



@media screen and (min-width: 990px) and (max-width: 1130px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 50px;

}
}

/*-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/




/*

@media screen and (min-width: 1900px) and (max-width: 2200px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 880px;
}
}

@media screen and (min-width: 1900px) and (max-width: 2200px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 870px;
}
}

@media screen and (min-width: 1511px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 840px;
}
}


@media screen and (min-width: 1511px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 840px;
}
}


@media screen and (min-width: 1381px) and (max-width: 1510px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 830px;
}
}


@media screen and (min-width: 1381px) and (max-width: 1510px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 820px;
}
}

@media screen and (min-width: 1181px) and (max-width: 1380px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 790px;
}
}


@media screen and (min-width: 1181px) and (max-width: 1380px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 800px;
}
}

@media screen and (min-width: 1100px) and (max-width: 1181px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 770px;
}
}

@media screen and (min-width: 1100px) and (max-width: 1381px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 770px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1099px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
top: 720px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1099px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 730px;
}
}*/

@media screen and (min-width: 1399px), (min-height: 799px) {
#sky-image {
 background-size: cover;
}

#logo {
  background-size: cover;
}

#sun-image{
 background-size: cover;
}

#falcao-bird-one {
 background-size: cover;
}
/*359 to 159*/

#banner {
 background-size: cover;
}

#bluehill1-image{
 background-size: cover;
}

#bluehill2-image{
 background-size: cover;
}

#greenfield2{
 background-size: cover;
}

#greenfield3{
 background-size: cover;
}

#cornfield  {
 background-size: cover;
} 
    
#treeline_1{
 background-size: cover;
}

#treeline_2{
 background-size: cover;
 top:800px;
}
}

/*SPECIAL FOR LARGER SCREENS*/

@media screen and (min-width: 991px) and (max-width: 999px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 90px;
}
}

@media screen and (min-width: 991px) and (max-width: 999px), (min-height: 600px) and (max-height: 639px){
#treeline_2{
    top: 130px;
    margin-top: 330px;
}
}

@media screen and (min-width: 1024px) and (max-width: 2000px), (min-height: 753px) and (max-height: 1200px){
#treeline_2{
       top: 670px;
    margin-top: 0px;
    background-size: contain;
  }

/*  #packaging {
width: 55%;
  }*/
 /*   #made-from {
    font-size: 40px;
    left: -120px;
  }

 #text-ingredients{
  margin-top: 0px;
  font-size: 30px;
  padding-right: 15px;
  padding-left: 15px;
  }
}*/
}


@media screen and (min-width: 991px) and (max-width: 1023px), (min-height: 640px) and (max-height: 752px){
#treeline_2{
    top: 700px;
    background-size: contain;
    margin-top: 0px!important;
    /*height: 1500px;*/
}
}

@media screen and (min-width: 670px) and (max-width: 990px), (min-height: 600px) and (max-height: 639px){
#treeline_2{
    top: 610px;
    background-size: contain;
    margin-top: 0px;
}
}

@media screen and (min-width: 991px) and (max-width: 999px), (min-height: 600px) and (max-height: 900px){
    #made-from {
    font-size: 27px;
    left: -120px;
  }

 #text-ingredients{
  margin-top: 0px;
  font-size: 16.5px;
  padding-right: 15px;
  padding-left: 15px;
  }

#flower1 {
  margin-top: -120px!important;   
}
}

@media screen and (min-width: 991px) and (max-width: 1024px), (min-height: 600px) and (max-height: 799px){
#Falcao_story {
  margin-top:-156px;
}
}

@media screen and (min-width: 1400px) and (max-width: 2024px), (min-height: 799px) and (max-height: 1200px){
#story p {
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
}

#story-title {
    font-size: 46px;
}

}


/*-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/

/*@media screen and (min-width: 991px) and (max-width: 999px), (min-height: 600px) and (max-height: 900px){
#greenfield2{
  top: 198px;
}
*/

/*-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/

/*

@media (min-width:1920px) {
  .ingredients-margin {
    margin-top: 100px!important;
  }
}


@media screen and (min-width: 1701px) and (max-width: 2400px), (min-height: 600px) and (max-height: 900px){
#text-ingredients{
  margin-top: 0px!important;
}
}

@media screen and (min-width: 1701px) and (max-width: 2400px), (min-height: 600px) and (max-height: 900px){
#made-from{
  margin-top: -40px!important;
}
}


@media screen and (min-width: 1501px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#text-ingredients{
  margin-top: -2px!important;
}
}


@media screen and (min-width: 1501px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#made-from{
  margin-top: -30px!important;
}
}


@media screen and (min-width: 1381px) and (max-width: 1500px), (min-height: 600px) and (max-height: 900px){
#text-ingredients{
  margin-top: -13px!important;
}
}


@media screen and (min-width: 1381px) and (max-width: 1500px), (min-height: 600px) and (max-height: 900px){
#made-from{
  margin-top: -40px!important;
}
}



@media screen and (min-width: 1101px) and (max-width: 1380px), (min-height: 600px) and (max-height: 900px){
#text-ingredients{
  margin-top: -94px!important;
}
}

@media screen and (min-width: 1101px) and (max-width: 1388px), (min-height: 600px) and (max-height: 900px){
#made-from{
  margin-top: -90px!important;
}
}


@media screen and (min-width: 991px) and (max-width: 1100px), (min-height: 600px) and (max-height: 900px){
#text-ingredients{
  margin-top: -140px!important;
}
}

@media screen and (min-width: 991px) and (max-width: 1100px), (min-height: 600px) and (max-height: 900px){
#made-from{
  margin-top: -173px!important;
}
}*/









