/*@media screen and (max-width: 991px){
#sky-image {
    background-image: url(../img/falcaos_ipad_8wide2.png);
    padding: 0!important;
    margin: 0!important;
    position: relative;
    width: 100%;
    height: 768px;
    background-size: contain;
}
 .ingredients-margin{
  margin-top: 57px!important;
  }
  #text-cereal {
  top: 120px!important;
   font-size: 18px;
    }
  section#distributers{
   margin-top: 100px;
  }
  #logo {
    top: 200px;
      width: 250px;
    height: 250px;
  }    

  #made-from {
    font-size: 24px;
    left: -100px;
  }

 #text-ingredients{
  margin-top: 100px;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  }
  #flower1 {
  width: 14px;
  height: 14px;
  margin-top: -100px!important;
  }
  #flower2{
 width: 14px;
  height: 14px;
  }  
  #mobile-distributors-margin {
      margin-top: 20px!important; 
    }

}
*/




/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
 /*#sky-image { 
     background-image: url(../img/falcaos_ipad_8.png);
   }*/
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
     #sky-image { 
     background-image: url(../img/falcaos_ipad_8.png);
   }

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
     #sky-image { 
     background-image: url(../img/falcaos_ipad_8.png);
    height: 800px;
   }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}



/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 
  
}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}







/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #sky-image { 
    background-image: url(../img/falcaos_mobile_88.jpg)!important;
    height: 666px;
   }

   .ingredients-margin{
   margin-top: 0px!important;
  }
  #text-cereal {
  top: 90px!important;
   font-size: 14px;
    }
  section#distributers{
   margin-top: 100px;
  }
  #logo {
    top: 140px;
      width: 200px;
    height: 200px;
  }    

  #made-from {
    font-size: 24px;
    left: -100px;
  }

 #text-ingredients{
  margin-top: 0px;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  }
  #flower1 {
  width: 14px;
  height: 14px;
  margin-top: -90px!important;
  }
  #flower2{
 width: 14px;
  height: 14px;
  }  
  #mobile-distributors-margin {
      margin-top: 20px!important; 
    }
 .nav-title {
  padding-left: 3px!important;
  padding-right: 3px!important;
 }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #sky-image { 
    background-image: url(../img/falcaos_mobile_8.png)!important;
    height: 1200px;
   }

   .ingredients-margin{
   margin-top: -200px!important;
  }
  #text-cereal {
  top: 100px!important;
   font-size: 20px;
    }
  section#distributers{
   margin-top: 100px;
  }
  #logo {
    top: 160px;
      width: 250px;
    height: 250px;
  }    

  #made-from {
      margin-top: -200px!important;
    font-size: 26px;
  }

 #text-ingredients{
  margin-top: -150px!important;
   font-size: 18px;
  }
  #flower1 {
  width: 14px;
  height: 14px;
  }
  #flower2{
 width: 14px;
  height: 14px;
  }
  hr#nav-hr {
    display: none;
  }

}



/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
   }

/* Landscape */
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) { 
    #sky-image { 
    background-image: url(../img/falcaos_mobile_sixplus_landscape.png)!important;
    height: 495px;
   }

   .ingredients-margin{
   margin-top: -80px!important;
  }
  #text-cereal {
  top: 97px!important;
   font-size: 15px;
    }
  section#distributers{
   margin-top: 50px;
  }
  #logo {
    top: 130px;
    width: 140px;
    height: 140px;
  }    

  #made-from {
    font-size: 22px;
    margin-top: -15px!important;
  }

 #text-ingredients{
   font-size: 15px;
  }
  #flower1 {
    margin-top: -80px!important;  
  width: 14px;
  height: 14px;
  }
  #flower2{
 width: 14px;
  height: 14px;
  }
  #mobile-distributors-margin {
     margin-top: 181px!important; 
    }
   
}

/* Portrait */
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 3) 
    and (-webkit-device-pixel-ratio : 3)
{
   #sky-image { 
    background-image: url(../img/falcaos_mobile_sixplus_portrait.jpg)!important;
    height: 700px;
   }

   .ingredients-margin{
   margin-top: 0px!important;
  }
  #text-cereal {
  top: 130px!important;
   font-size: 16px;
    }
  section#distributers{
   margin-top: 70px;
  }
  #logo {
    top: 200px;
      width: 200px;
    height: 200px;
  }    

  #made-from {
    margin-top: -147px!important;
    font-size: 24px;
    left: -100px;
  }

 #text-ingredients{
  margin-top: -108px!important;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  }


  #flower1 {
  width: 14px;
  height: 14px;
  margin-top: -100px!important;
  }
  #flower2{
 width: 14px;
  height: 14px;
  }  
  #mobile-distributors-margin {
      margin-top: 20px!important; 
    }

}


/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}



/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}




/* NAVIGATION
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/

@media screen and (max-width: 728px){
nav {
    position: relative;
    height: 76px!important;
    }
  }


  @media screen and (max-width: 1100px){
  .nav-title{
      padding-right: 40px;
  padding-left: 10px;
  }
}


@media screen and (max-width: 937px){
  .nav-title{
  font-size: 24px;
  padding-right: 35px;
  padding-left: 0px;
  }
}


@media screen and (max-width: 728px){
  .nav-title{
    font-size: 22px;
    margin-top: 23px;
  }
}


@media screen and (max-width: 643px){
  .nav-title{
  padding-right: 50px;
  }
}

@media screen and (max-width: 643px) {

#contact-nav {
  display: none;
  width: 0px;
  height: 0px;
}
}


@media screen and (max-width: 602px){
  .nav-title{
  padding-right: 30px;
  }
}

@media screen and (max-width: 550px){
  .nav-title{
  padding-right: 45px;
   font-size: 20px;
   margin-top: 24px;
  }
}

@media screen and (max-width: 550px){
  #story-nav {
  display: none;
  width: 0px;
  height: 0px;
  }
}

@media screen and (max-width: 452px){
 #nav-margin{
    margin-left: -10px;
  }
}



@media screen and (max-width: 467px){
  .nav-title{
  padding-right: 40px;
  }
}

@media screen and (max-width: 452px){
  .nav-title{
  padding-right: 38px;
  }
}

@media screen and (max-width: 446px){
  .nav-title{
  padding-right: 36px;
  }
}

@media screen and (max-width: 437px){
  .nav-title{
  padding-right: 30px;
  }
}

@media screen and (max-width: 421px){
  .nav-title{
  padding-right: 20px;
  }
}


@media screen and (max-width: 421px){
 #nav-margin{
    margin-left: -5px;
  }
}


@media screen and (max-width: 350px){
 #nav-margin{
    margin-left: -30px;
  }
}

@media screen and (max-width: 380px){
  #story-nav {
  display: inline-block;
  width: inherit;
  height: inherit;
  }
}

@media screen and (max-width: 667px){
hr#nav-hr {
	margin-top: 0px!important;
	}
}


/* LOGO
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/


@media screen and (max-width: 937px){
  #logo-nav {
    width: 90px;
    margin-top: 10px;
  }
}


@media screen and (max-width: 728px){
  #logo-nav {
    width: 89px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 437px){
#logo-nav {
    width: 80px;
    margin-top: 13px; 
    }
  }



/* PARRALAX - BROWSER - IPAD
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/



/*
@media screen and (max-width: 1210px){
  #greenfield2{
      top: 470px!important;
    left: -334px;
      }
    }

    @media screen and (max-width: 1189px){
  #greenfield2{
      top: 470px!important;
    left: -304px!important;
      }
    }

       @media screen and (max-width: 1170px){
  #greenfield2{
      top: 480px!important;
left: -250px!important;
      }
    }

         @media screen and (max-width: 1155px){
  #greenfield2{
      top: 480px!important;
left: -240px!important;
      }
    }

 @media screen and (max-width: 1125px){
  #greenfield2{
      top: 485px!important;
left: -220px!important;
      }
    }

     @media screen and (max-width: 1084px){
  #greenfield2{
  top: 489px!important;
left: -210px!important;
      }
    }

    @media screen and (max-width: 1054px){
  #greenfield2{
  top: 480px!important;
left: -210px!important;
      }
    }
*/

  





/* PARRALAX - TURN OFF
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/





@media screen and (max-width: 991px){
#sky-rays{
display: none;
height: 0;
width: 0;
	}
}


@media screen and (max-width: 991px){
#sun-image{
display: none;
height: 0;
width: 0;
	}
}

@media screen and (max-width: 991px){
#cloud-one-left{
display: none;
height: 0;
width: 0;
	}
}


@media screen and (max-width: 991px){
#cloud-one-right{
display: none;
height: 0;
width: 0;
	}
}

@media screen and (max-width: 991px){
#cloud-two-right{
display: none;
height: 0;
width: 0;
	}
}



@media screen and (max-width: 991px){
#banner {
display: none;
height: 0;
width: 0;
    }}




@media screen and (max-width: 991px){
#bluehill1-image{
display: none;
height: 0;
width: 0;
	}
}

@media screen and (max-width: 991px){
#bluehill2-image{
display: none;
height: 0;
width: 0;
	}
}

@media screen and (max-width: 991px){
#greenfield1{
display: none;
height: 0;
width: 0;
	}
}

@media screen and (max-width: 991px){
#greenfield2{
display: none;
height: 0;
width: 0;
	}
}

@media screen and (max-width: 991px){
#greenfield3{
display: none;
height: 0;
width: 0;
	}
}


@media screen and (max-width: 991px){
#cornfield{
display: none;
height: 0;
width: 0;
	}
}


@media screen and (max-width: 991px){
#treeline_1{
display: none;
height: 0;
width: 0;
	}
}


@media screen and (max-width: 991px){
#treeline_2{
display: none;
height: 0;
width: 0;
  }
}


/* DISTRIBUTORS
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/

@media screen and (max-width:728px){
img#supermarkets{
		width: 96px;
	}
}


@media screen and (max-width:498px){
img#supermarkets{
		width: 86px;
	}
}


@media screen and (max-width:433px){
img#supermarkets{
		width: 76px;
	}
}


@media screen and (max-width:380px){
img#supermarkets{
		width: 68px;
	}
}


@media screen and (max-width:728px){
img#indepedents {
    width: 118px;
	}
}


@media screen and (max-width:498px){
img#indepedents {
    width: 100px;
	}
}


@media screen and (max-width:433px){
img#indepedents {
    width: 92px;
	}
}

@media screen and (max-width:380px){
img#indepedents {
    width: 84px;
	}
}




@media screen and (max-width:728px){
img#online {
    width: 97px;
	}
}

@media screen and (max-width:498px){
img#online {
    width: 89px;
	}
}


@media screen and (max-width:433px){
img#online {
    width: 74px;
	}
}

@media screen and (max-width:380px){
img#online {
    width: 68px;
	}
}


@media screen and (max-width:498px){
p.titles  {
font-size: 22px;
	}
}

@media screen and (max-width:433px){
p.titles  {
font-size: 21px;
	}
}



@media screen and (max-width:728px){
section#distributers div.icons img {
    margin-right: 25px;
    margin-left: 25px;
	}
}

@media screen and (max-width: 498px){
section#distributers div.icons img {
    margin-right: 20px;
    margin-left: 20px;
    }
}


/* WAYS TO ENJOY
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/

@media screen and (max-width:991px){
#good-for-you-media{
    text-align: center!important;
    margin-top: 100px!important;
    margin-bottom: 40px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
	}	
}

@media screen and (max-width:767px){
#good-for-you-media{
    margin-bottom: 0px!important;
	}	
}

@media screen and (max-width:991px){
.box-info{
 width:100%;
 height: 560px;
	}	
}

@media screen and (max-width:991px){
.box-info{
 width:100%;
 height: 560px;
	}	
}


@media screen and (max-width:767px){
.box-info{
height: 100%;
	}	
}



/* INGREDIENTS
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/


@media screen and (max-width:1200px){
.circle {
margin: 12px;
}
}


@media screen and (max-width:1200px){
.circle-2 {
margin: 16px;
}
}


@media screen and  (max-width: 1199px) {
div#ingredient-amounts {
  margin-left: -45px!important;
  }
}

/*@media screen and  (max-width: 409px) {
div#ingredient-amounts {
  margin-left: -47px!important;
  }
}*/

@media screen and (max-width: 1199px) {
li.media-margin-ingredients-left {
      margin-left: 40px!important;
}
}

/*@media screen and (max-width: 409px){
li.media-margin-ingredients-left {
    margin-left: 38px!important;
    }
  }*/


@media screen and (max-width: 991px) {
div#ingredients-margin {
  margin-top: 80px;
  }
}

@media screen and (max-width: 991px) {
#nutritional-information {
    padding-left: 20px;
    padding-right: 20px;
    }
}

@media screen and (max-width: 667px) {
#circle-content-5 p {
margin-left: 47px;
}
}
@media screen and (max-width: 667px) {
.circle-2
{
margin-top: 50px;
}
}


@media screen and (max-width: 529px) {
.circle
{
       margin-right: -4px!important;
    margin-left: 36px!important;
    margin-bottom: 49px;
    margin-top: 20px;
    width: 149px;
    height: 150px;
}
}
@media screen and (max-width: 529px) {
.circle p
{
    margin-top: 186px!important;
    margin-left: 18px!important;
    font-size: 20px!important;
    }
  }

@media screen and (max-width: 529px) {
.circle-2
{
    margin-right: -4px!important;
    margin-left: 36px!important;
    margin-bottom: 49px;
    margin-top: 20px;
    width: 149px;
    height: 150px;
}
}


@media screen and (max-width: 529px) {
#circle-content-4 p {
    margin-left: 26px!important;
}
}

@media screen and (max-width: 529px) {
#circle-content-5 p {
  margin-top: 179px!important;
      font-size: 20px!important;
}

@media screen and (max-width: 529px) {
#circle-content-6 p {
  margin-top: 179px!important;
  margin-left: 35px!important;
      font-size: 20px!important;
}


@media screen and (max-width: 529px) {
#circle-content-7 p {
  margin-top: 179px!important;
  margin-left: 35px!important;
      font-size: 20px!important;
}

@media screen and (max-width: 529px) {
#circle-content-8 p {
  margin-top: 179px!important;
  margin-left: 38px!important;
      font-size: 20px!important;
}
  


@media screen and (max-width: 667px) {
#ingredients-margin-2 {
    margin-left: -17px;
    }
  }

  @media screen and (max-width: 529px) {
#ingredients-margin-2 {
    margin-left: -10px;
    }
  }

  @media screen and (max-width: 844px) {
#mobile-margin-ingredients {
 margin-left: 90px;
}
} 

  @media screen and (max-width: 667px) {
#mobile-margin-ingredients {
  margin: 0!important;
}
}

  @media screen and (max-width: 667px) {
#grams-info{
      margin-left: 30px;
}
}

  @media screen and (max-width: 667px) {
div#ingredient-amounts{
margin-left: 0px!important;
}
}



/* STORY
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/

@media screen and (max-width: 991px){
#story {
	text-align: center;
}
}

@media screen and (max-width: 991px){
p#story-paragraph-2 {
	margin-top: 10px!important;
	margin-bottom: 40px;
}
}



@media screen and (max-width: 667px){
#story {
	padding-left: 10px;
	padding-right:10px;
	text-align: center;
}
}

@media screen and (max-width: 667px){
p#story-paragraph-2 {

	margin-top: 16px!important;
	margin-bottom: 50px!important;
}
}

@media screen and (max-width: 991px){
#story-sub-title {
	text-align: center;
	}
}

/* COMMUNITY
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/


@media screen and (max-width: 600px){
#community-words {
  padding-left: 0px;
padding-right: 0px;
}
}

@media screen and (max-width: 498px){
#community-words {
    margin-bottom: 200px;
}
}



/* TREELINE
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/



@media screen and (max-width:991px) {
    #treeline_footer {
          bottom: 58px; 
        }
     } 

     @media screen and (max-width:650px) {
    #treeline_footer {
          bottom: 56px; 
        }
     }    

@media screen and (max-width:420px) {
    #treeline_footer {
    width: 107.5%;
    height: 300px;
    position: absolute;
    bottom: 60px;
    background-image: url(../img/parallax/treeline2.png);
    /* background-size: cover; */
    z-index: 16;
    left: -29px;
    background-repeat: no-repeat;
  }
}




@media screen and (max-width:420px) {
#treeline_footer_2 {
    width: 114%;
    height: 300px;
    position: absolute;
    left: -56px;
    background-repeat: no-repeat;
    background-image: url(../img/parallax/treeline1.png);
    background-size: cover;
    z-index: 16;
    bottom: 116px;
    }
  }





/* FOOTER
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/




/* FOOTER COPY
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/


@media screen and (max-width:991px) {
.footer-info-padding {
margin-top: 2px;
    }
  }   



  @media screen and (max-width:890px) {
h1.footer-header-size {
    font-size: 22px;
    }
}

@media screen and (max-width:890px) {
#get-in-touch-header {
    padding-top: 40px;
  }
}



@media screen and (max-width:991px) {
p.footer-p-size {
  padding-bottom: 0px!important;
  font-size: 13px;
  width: 100%;
  }
}

@media screen and (max-width:420px) {
.footer-p-size {
  font-size: 14px;
  }
}

@media screen and (max-width:420px) {
  .footer-info-padding {
/*margin-bottom: 10px;*/
  }
  }

@media screen and (max-width:420px) {

  h1.footer-header-size {
  font-size: 20px;
}
}

@media screen and (max-width:420px) {
  footer p {
  font-size: 12px;
}
}




/* GET IN TOUCH
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/




@media screen and (max-width:761px) {
#get-in-touch {
    padding-top: 50px;
    margin-left: -25px;
  }
}


@media screen and (max-width:570px) {
#get-in-touch {
  padding-top: 5px;
  width:218px;
  margin-left: -5px;
   margin-top: 40px;
  }
}

@media screen and (max-width:420px) {
#get-in-touch {
  padding-top: 5px;
  width:200px;
  margin-left: -15px;
  margin-top: 50px;
  }
}




/* FOOTER ADDRESS
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/

/*

@media screen and (max-width:1084px) {
#footer-address {
    margin-left: 75px;

    }
  }


@media screen and (max-width:991px) {
#footer-address {
    margin-left: 40px;

    }
  }

  @media screen and (max-width: 761px){
#footer-address {
    margin-top: 30px;
    margin-left: 26px; 
    }
  }   

    @media screen and (max-width: 677px){
#footer-address {
      margin-left: 13px;
    }
  } 

   @media screen and (max-width: 630px){
#footer-address {
      margin-left: 5px;
    }
  } 


   @media screen and (max-width: 615px){
#footer-address {
      margin-left: 1px;
    }
  } 


  @media screen and (max-width: 570px){
#footer-address {
    width: 250px;
    margin-left: 100px;
}

  @media screen and (max-width: 500px){
#footer-address {
    width: 100%;
    margin-left: 108px;
}
}

 @media screen and (max-width: 420px){
#footer-address {
    width: 200px;
    margin-left: 90px;
    margin-top: 40px;
}
}
*/



/* WHO WE ARE
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/


@media screen and (max-width:801px) {
#who-we-are {
     margin-right: 2px!important;
  }
}

@media screen and (max-width:762px) {
#who-we-are {
    padding-top: 47px;
  }
}



@media screen and (min-width:200px) and (max-width:615px) {
#who-we-are {
  display: none!important;
  width: 0px;
  height: 0px;
  }
}



/* BOOTSTRAP
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/

