



/* PARRALAX - LARGE SCREEN
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/



@media screen and (min-width: 2561px) and (max-width: 3200px) , screen and (min-height: 1441px) and (max-height: 1600px){
#treeline_2 {
width: 100%;    
top: 900px;
        }
}

@media screen and (min-width: 1900px) and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#treeline_2 {
width: 100%;    
top: 831px;
        }
}


 @media screen and (min-width: 1520px) and (max-width: 1669px){
#treeline_2 {
top: 839px;   
width: 100%;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#treeline_2 {
top: 769px;   
width: 100%;
}
}

@media screen and (min-width: 1120px) and (max-width: 1199px){
#treeline_2 {
top: 750px;    
width: 103%;
}
}

@media screen and (max-width: 991px) and (min-width: 1121px){
#treeline_2 {
top: 672px;
width: 100%;
  }
  }  





@media screen and (min-width: 2561px) and (max-width: 3200px) , screen and (min-height: 1441px) and (max-height: 1600px){
#treeline_1 {
   width: 100%;
   top: 834px;
    }
}

@media screen and (min-width: 1900px)(max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#treeline_1{
width: 100%;  
top: 853px;
}
}


 @media screen and (min-width: 1520px) and (max-width: 1669px){
#treeline_1 {
top: 790px;    
width: 100%;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#treeline_1 {
top: 780px;  
width: 100%;
}
}

@media screen and (min-width: 1122px) and (max-width: 1199px){
#treeline_1 {
top: 776px;       
width: 100%;
}
}

@media screen and (max-width: 991px) and (min-width: 1121px){
#treeline_1 {
    top: 740px;
    width: 100%;
  }
  }  







@media screen and (min-width: 2561px) and (max-width: 3200px) , screen and (min-height: 1441px) and (max-height: 1600px){
#cornfield {
top: 723px;    
background-size: contain;
max-width: 100%;
        }
}


@media screen (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#cornfield {
background-size: contain;
max-width: 1000px;
        }
}


@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#cornfield {  
width: 1000px;
top: 673px;
}
}


@media screen and (min-width: 1520px) and (max-width: 1669px){
#cornfield{
top: 677px;

}
}

@media screen and (min-width: 1271px) and (max-width: 1519px){
#cornfield{
top: 628px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1270px){
#cornfield{
top: 616px;
/*left: 0;*/
}
}



@media screen and (min-width: 991px) and (max-width: 1199px){
#cornfield{    
top: 598px;
width: 92%;
background-size: contain;
background-repeat: no-repeat;
}
}











@media screen and (min-width: 2560px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#greenfield3 {
top: 338px;
        }
}

@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#greenfield3 {
top: 373px;
}
}


@media screen and (min-width: 1520px) and (max-width: 1669px){
#greenfield3{
top: 371px;
}
}

@media screen and (min-width: 1220px) and (max-width: 1519px){
#greenfield3{
top: 382px;
left:0;
}
}

@media screen and (min-width: 991px) and (max-width: 1219px){
#greenfield3{
left: 0px;    
top: 411px;
background-size: contain;
background-repeat: no-repeat;
}
}





@media screen and (min-width: 2560px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#greenfield2{
   height: 78%;
        }
}


@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#greenfield2 {
height: 702px
}
}
  




@media screen and (min-width: 2560px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#greenfield1 {
left: -85px;
top: 438px;
        }
}

@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#greenfield1 {
  top: 437px;
left: -85px;
}
}


@media screen and (min-width: 1520px) and (max-width: 1669px){
#greenfield1{
top: 437px;
left: -600px;
}
}

@media screen and (min-width: 1281px) and (max-width: 1519px){
#greenfield1{
top: 428px;
left: -600px;
background-size: contain;
}
}

@media screen and (min-width: 991px) and (max-width: 1280px){
#greenfield1{
top: 450px;
}
}










@media screen and (min-width: 2560px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#bluehill2-image {
height: 900px;    
background-size: contain;
right: 0px;
top: 360px;
}
}

@media screen and (min-width: 1700px) and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#bluehill2-image {
top: 350px;
}
}


  
@media screen and (min-width: 1520px) and (max-width: 1669px){
#bluehill2-image {  
top: 358px;
}
}

@media screen and (min-width: 1281px) and (max-width: 1519px){
#bluehill2-image{
 top: 326px;
right: 0px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1280px){
#bluehill2-image{
     top: 360px;
}
}



@media screen and (min-width: 991px) and (max-width: 1199px){
#bluehill2-image{   
 top: 406px;
}
}


/* BLUEHILLS
______________________________________________________________________________________________________
______________________________________________________________________________________________________
______________________________________________________________________________________________________*/


@media screen and (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#bluehill1-image{
  top:306px;
  left: -400px;
        }
}



@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#bluehill1-image {
    top: 304px;
    left: -400px;
    }}


  
@media screen and (min-width: 1520px) and (max-width: 1669px){
#bluehill1-image{
    top: 347px;
    left: -300px;
}
}

@media screen and (min-width: 1281px) and (max-width: 1519px){
#bluehill1-image{
top: 311px;
left: -300px;
}
}


@media screen and (min-width: 1200px) and (max-width: 1280px){
#bluehill1-image{
top: 345px; 
left: -300px;
}
}


@media screen and (min-width: 991px) and (max-width: 1199px){
#bluehill1-image{   
top: 380px;
left: -300px;
}
}





@media screen and (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#sun-image {
    top: 390px;
    width: 12%;
}
}


@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#sun-image{
     top: 380px;
    }}


  
@media screen and (min-width: 1520px) and (max-width: 1669px){
#sun-image{
    top: 370px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#sun-image{
top: 330px;
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
#sun-image{
   top: 400px;
}
}









@media screen and (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#banner {
top: 373px;
    width: 427px;
    z-index: 13;
    }
}



@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#banner {
 top: 373px;
    width: 427px;
    z-index: 13;
    }
}


  
@media screen and (min-width: 1520px) and (max-width: 1669px){
#banner {
 top: 373px;
    width: 427px;
    z-index: 13;
    }
}

@media screen and (min-width: 1220px) and (max-width: 1519px){
#banner {
 top: 393px;
    width: 427px;
    z-index: 13;
    }
}


@media screen and (min-width: 991px) and (max-width: 1219px){
#banner {
    top: 373px;
    width: 427px;
    z-index: 13;
    }
}






@media screen and (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#text-banner {
   top: 429px;
    width: 200px;
    z-index: 14;
    }
}



@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#text-banner {
   left: -79px;  
 top: 429px;    
 width: 200px;
    z-index: 14;
    }
}


  
@media screen and (min-width: 1520px) and (max-width: 1669px){
#text-banner {
   top: 429px;
    width: 200px;
    z-index: 14;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1519px){
#text-banner {
    left: -79px;
    top: 450px;
    width: 200px;
    z-index: 14;
    }
}


@media screen and (min-width: 991px) and (max-width: 1280px){
#text-banner {
    top: 430px;
    width: 210px;
    z-index: 14;
    padding-left: 0px;
    }
}









@media screen and (max-width: 991px){
#banner {
    z-index: 999;
    width: 100%;
    top: 281px;
    right: 0;
    left: 40px;
    background-image: url(../img/parallax/banner1.png);
    z-index: 12;
    background-repeat: no-repeat;
    background-size: contain;
    width: 470px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    }}





@media screen and (min-width: 1260px) and (max-width: 2559px), screen and (max-height: 901px){
#cloud-two-right {
    background-image: url(../img/parallax/cloudright1.png);
    z-index: 11;
    position: absolute;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    top: 283px;
    right: 0;
}
}

@media screen and (max-width: 2560px), screen and (min-height: 1441px) and (max-height: 1600px){
 #cloud-one-left  {
    
        }
}

@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#cloud-one-left {
     left: 0px;
    top: 360px;
}
}

@media screen and (min-width: 1260px) and (max-width: 2559px), screen and (max-height: 901px){
#cloud-one-left {
    background-image: url(../img/parallax/cloudleft.png);
    z-index: 11;
    position: absolute;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    right: 0;
    top: 200px;

}
}







@media screen and (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#sky-rays {
    top: -100px;
    width: 65%;
}
}

@media screen and (min-width: 2021px) and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#sky-rays {
    top: -253px;
    width: 74%;
}
}

@media screen and (min-width: 1670px )(max-width: 2020px), screen and (min-height: 1380px) and (max-height: 1440px){
#sky-rays {
    top: -200px;
    width: 80%;
}
}
  

@media screen and (min-width: 1520px) and (max-width: 1669px){
#sky-rays{
 top: -100px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#sky-rays{
 top: 0px;
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
#sky-rays{
top: 0px;
width: 94%;
}
}





@media screen and (min-width: 2561px) and (max-width: 3000px), screen and (min-height: 1401px) and (max-height: 1600px){
#sky-rays {
    top: -115px;
    width: 65%;
}
}

@media screen and (min-width: 2021px) and (max-width: 2360px), screen and (min-height: 1380px) and (max-height: 1400px){
#sky-rays {
    top: -150px;
    width: 74%;
}
}

@media screen and (min-width: 1670px )(max-width: 2020px), screen and (min-height: 1380px) and (max-height: 1440px){
#sky-rays {
    top: -120px;
    width: 80%;
}
}
  

@media screen and (min-width: 1520px) and (max-width: 1669px){
#sky-rays{
 top: -100px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#sky-rays{
top: -20px;
}
}

@media screen and (min-width: 1090px) and (max-width: 1199px){
#sky-rays{
top: -50px;
width: 94%;
}
}


  @media screen and (max-width: 991px) and (min-width: 1089px){
#sky-rays {
    top: -11px;
    width: 97%;
  }
  }  










@media screen and (min-width: 2560px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#sky-image{
    background-size: cover!important;
    width: 100%;
    margin-left: -12px;
        }
}



@media screen and (max-width: 2559px) and (min-width: 1280px), screen and (max-height: 1600px) and (min-height: 900px){
#sky-image {
    height: 1060px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0;
    background-size: cover!important;
    }}

@media screen and (min-width: 991px) and (max-width: 1279px), screen and (max-height: 899px){
#sky-image {
	background-image: url("../img/parallax/Asset6.png");
	z-index: 9;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: 1000px;
	padding: 0;
	margin: 0;
}
}








@media screen and (min-width: 1231px) and (max-width: 1279px), screen and (max-height: 899px){
#cloud-one-left {
    background-image: url(../img/parallax/cloudleft.png);
    z-index: 11;
    position: absolute;
    background-repeat: no-repeat;
    width: 300px;
    height:300px;
    right: 0;
    top: 200px;
}
}




@media screen and (min-width: 1116px) and (max-width: 1279px), screen and (max-height: 899px){
#cloud-one-right{
    background-image: url("../img/parallax/cloudright.png");
    z-index: 11;
    position: absolute;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    top: 200px;
    right: 0;
}
}


@media screen and (min-width: 200px) and (max-width: 1200px), screen and (max-height: 899px){
#cloud-four-left{
  display: none!important;
}
}








@media screen and (min-width: 2560px) and (max-width: 4200px), screen and (min-height: 900px) and (max-height: 3200px){
section#distributers{
   margin-top: 300px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 2559px), screen and (min-height: 900px) and (max-height: 3200px){
section#distributers{
   margin-top: 100px;
	}
}

@media screen and (min-width: 1116px) and (max-width: 1279px), screen and (min-height: 699px) and (max-height: 1600px){
section#distributers{
   margin-top: 0px;
	}
}





@media screen and (min-width: 2560px) and (max-width: 4200px), screen and (min-height: 900px) and (max-height: 3200px){
.ingredients-margin{
   margin-top: 300px;
	}
}


@media screen and (min-width: 1116px) and (max-width: 1279px), screen and (min-height: 699px) and (max-height: 1600px){
.ingredients-margin{
   margin-top: 0px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 2559px), screen and (min-height: 900px) and (max-height: 3200px){
#made-from{
	margin-top: -100px!important;
	}
}

@media screen and (min-width: 1280px) and (max-width: 2559px), screen and (min-height: 900px) and (max-height: 3200px){
#text-ingredients{
	margin-top: -60px!important;
	}
}


  @media screen and (max-width: 991px) and (min-width: 1279px){
#text-ingredients {
  margin-top:-46px!important;
  }
  }  






@media screen and (min-width:2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#treeline_footer_2  {
     width: 100%!important;
        }
}

@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#treeline_footer_2 {
    left: 0px;
    width: 100%;
}
}

 @media screen and (min-width: 1520px) and (max-width: 1669px){
#treeline_footer_2{
width: 100%;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#treeline_footer_2 {
width: 100%;
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
#treeline_footer_2 {
width: 100%;
}
}









@media screen and (min-width:2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
#treeline_footer {
 width: 100%!important;;
        }
}
    

@media screen and (max-width: 2560px), screen and (min-height: 1380px) and (max-height: 1440px){
#treeline_footer  {
       left: 0px;
        width: 100%;
}
 }

 @media screen and (min-width: 1520px) and (max-width: 1669px){
#treeline_footer {
width: 100%;
}
}

@media screen and (min-width: 1200px) and (max-width: 1519px){
#treeline_footer {
width: 100%;
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
#treeline_footer {
width: 100%;
}
}


@media screen and (min-width:2561px) and (max-width: 3000px), screen and (min-height: 1441px) and (max-height: 1600px){
.content-wrapper{
 width: 12%!important;
        }
}

@media screen and (min-width:1200px) and (max-width: 2560px), screen and (min-height: 900px) and (max-height: 1440px){
.content-wrapper{
 width: 101%!important;
        }
}




