






/*-------------SMALL SCREEN HEIGHT-----------------------600 TO 1099*/

@media screen and (min-width: 992px) and (max-width: 1181px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 610px;
}
}

@media screen and (min-width: 1181px) and (max-width: 1380px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 640px;
}
}

@media screen and (min-width: 1381px) and (max-width: 1510px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 660px;
}
}

@media screen and (min-width: 1511px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 668px;
width: 1500px;
right:0px;
}
}

@media screen and (min-width: 1701px) and (max-width: 1800px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 690px;
width: 1500px;
right:0px;
}
}

@media screen and (min-width: 1801px) and (max-width: 1931px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 700px;
width: 1500px;
right:0px;
}
}

@media screen and (min-width: 1932px) and (max-width: 2027px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 720px;
width: 1500px;
right:0px;
}
}

@media screen and (min-width: 2028px) and (max-width: 2127px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 740px;
width: 1500px;
right:0px;
}
}

@media screen and (min-width: 2128px) and (max-width: 2400px), (min-height: 600px) and (max-height: 900px){
#cornfield{
top: 760px;
width: 1400px;
right:0px;
overflow: hidden;
}
}

/*-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 992px) and (max-width: 1181px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 730px;
}
}

@media screen and (min-width: 992px) and (max-width: 1381px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 750px;
}
}


@media screen and (min-width: 1181px) and (max-width: 1380px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 750px;
}
}


@media screen and (min-width: 1181px) and (max-width: 1380px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 780px;
}
}


@media screen and (min-width: 1381px) and (max-width: 1510px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 790px;
}
}


@media screen and (min-width: 1381px) and (max-width: 1510px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 800px;
}
}



@media screen and (min-width: 1511px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 800px;
}
}


@media screen and (min-width: 1511px) and (max-width: 1700px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 820px;
}
}

@media screen and (min-width: 1900px) and (max-width: 2200px), (min-height: 600px) and (max-height: 900px){
#treeline_1{
  top: 840px;
}
}


@media screen and (min-width: 1900px) and (max-width: 2200px), (min-height: 600px) and (max-height: 900px){
#treeline_2{
  top: 850px;
}
}




/*-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 1700px) and (max-width: 2400px), (min-height: 600px) and (max-height: 900px){
#text-ingredients{
  margin-top: 0px!important;
}
}

@media screen and (min-width: 1700px) and (max-width: 2400px), (min-height: 600px) and (max-height: 900px){
#made-from{
  margin-top: -40px!important;
}
}







